.filterContainer{
    
    .hasSelectedContainer{
    border-bottom: 2px solid rgba(30,48,84,0.10);
    }
    .filterInnerContainer{
       transition: all 0.3s;
       opacity: 0;
       max-height: 0;
       border-bottom: 2px solid rgba(30,48,84,0.10);
    }
}